In [1]:
import pandas as pd

df = pd.read_csv("Week06_listings.csv")
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,38105126,Loft 2 pax near Haw Par / Pasir Panjang. Free ...,278109833,Belle,Central Region,Queenstown,1.27973,103.78751,Entire home/apt,100,3,0,NaN,NaN,31,61
7903,38108273,3bedroom luxury at Orchard,238891646,Neha,Central Region,Tanglin,1.29269,103.82623,Entire home/apt,550,6,0,NaN,NaN,34,365
7904,38109336,[ Farrer Park ] New City Fringe CBD Mins to MRT,281448565,Mindy,Central Region,Kallang,1.31286,103.85996,Private room,58,30,0,NaN,NaN,3,173
7905,38110493,Cheap Master Room in Central of Singapore,243835202,Huang,Central Region,River Valley,1.29543,103.83801,Private room,56,14,0,NaN,NaN,2,30
7906,38112762,Amazing room with private bathroom walk to Orc...,28788520,Terence,Central Region,River Valley,1.29672,103.83325,Private room,65,90,0,NaN,NaN,7,365

In [2]:
# 1- Groupby dataset using column “room_type” and create statistics for “price”? 
# What are the minimum, maximum price, sum of price, mean of price for each room type?

grouped = df[["price","room_type"]].groupby("room_type")
grouped["price"].agg(['min','max','sum','mean'])

                 min    max     sum        mean
room_type
Entire home/apt    0  10000  937957  226.998306
Private room      14  10000  375083  110.938480
Shared room       14   2500   25876   65.675127

In [3]:
# 2- Groupby dataset using column “room_type” and create statistics for “minimum_nights”?
# what are the minimum, maximum minimum nights for each room type?

grouped = df[["minimum_nights","room_type"]].groupby("room_type")
grouped.describe()

                minimum_nights                                             \
                         count       mean        std  min  25%  50%   75%
room_type
Entire home/apt         4132.0  15.495644  37.693835  1.0  2.0  3.0  10.0
Private room            3381.0  21.539781  47.926497  1.0  1.0  2.0  18.0
Shared room              394.0   4.055838  24.348131  1.0  1.0  1.0   1.0


                    max
room_type
Entire home/apt   700.0
Private room     1000.0
Shared room       365.0

In [4]:
# 3- Create a function that returns the max and min price difference and use this function in agg method.

def min_max_difference(arr):
    return arr.max()-arr.min()

grouped = df[["price","room_type"]].groupby("room_type")
grouped["price"].agg(['min','max',min_max_difference])

                 min    max  min_max_difference
room_type
Entire home/apt    0  10000               10000
Private room      14  10000                9986
Shared room       14   2500                2486

In [5]:
# 4- Show the group names and their data for grouped data by “room_type”.

for name, group in df.groupby("room_type"):
    print(name)
    print(group)

Entire home/apt
            id                                               name    host_id  \
25      604966                  Boutique 1 bedroom entiere appart    2996022
30      746929    2 Bdrm Spacious Condo_SeaView _10 Mins to Beach    3919513
38      804470                   Spacious Luxury Condo in Orchard     741873
40      819034                       Boutique 2 Bedroom Apartment    1584407
42      822413                   Ming Vase Theme - 2 BR Apartment    3951127
...        ...                                                ...        ...
7895  38087680              Studio Loft Closed to Kent Ridge Park  108818897
7898  38092142    Well connected 2 bedroom 2 bathroom apartment !  223622603
7901  38104971                2 PAX LOFT Close To Kent Ridge Park  278109833
7902  38105126  Loft 2 pax near Haw Par / Pasir Panjang. Free ...  278109833
7903  38108273                         3bedroom luxury at Orchard  238891646

         host_name neighbourhood_group  neighbourhood  latitude  longitude  \
25        Frederic      Central Region    Bukit Timah   1.33171  103.79383
30            Jimm         East Region          Bedok   1.30792  103.92287
38            Dara      Central Region        Tanglin   1.30292  103.82253
40         Richard      Central Region  Marine Parade   1.30529  103.90420
42    Sue / Mylene      Central Region        Tanglin   1.29839  103.82808
...            ...                 ...            ...       ...        ...
7895           Amy      Central Region     Queenstown   1.28001  103.78737
7898         Tanya      Central Region         Rochor   1.30082  103.84956
7901         Belle      Central Region     Queenstown   1.27973  103.78751
7902         Belle      Central Region     Queenstown   1.27973  103.78751
7903          Neha      Central Region        Tanglin   1.29269  103.82623

            room_type  price  minimum_nights  number_of_reviews last_review  \
25    Entire home/apt    276               4                 11  2018-01-07
30    Entire home/apt    176               2                 99  2019-08-24
38    Entire home/apt   2604               1                  1  2014-02-22
40    Entire home/apt    300               2                 37  2018-02-09
42    Entire home/apt    200              60                  9  2018-02-12
...               ...    ...             ...                ...         ...
7895  Entire home/apt    100               3                  0         NaN
7898  Entire home/apt    200               2                  0         NaN
7901  Entire home/apt    100               3                  0         NaN
7902  Entire home/apt    100               3                  0         NaN
7903  Entire home/apt    550               6                  0         NaN

      reviews_per_month  calculated_host_listings_count  availability_365
25                 0.13                               1               362
30                 1.28                               1                 7
38                 0.01                               1                 0
40                 0.46                               5               221
42                 0.11                               3               334
...                 ...                             ...               ...
7895                NaN                              13                61
7898                NaN                               4               347
7901                NaN                              31                61
7902                NaN                              31                61
7903                NaN                              34               365

[4132 rows x 16 columns]
Private room
            id                                               name    host_id  \
0        49091                  COZICOMFORT LONG TERM STAY ROOM 2     266763
1        50646                    Pleasant Room along Bukit Timah     227796
2        56334                                        COZICOMFORT     266763
3        71609                Ensuite Room (Room 1 & 2) near EXPO     367042
4        71896                    B&B  Room 1 near Airport & EXPO     367042
...        ...                                                ...        ...
7899  38094671  SMALL ROOM FOR ONE @SOMERSET/ORCHARD/CENTRAL AREA  262337792
7900  38102097                                            环境优雅的公寓  286260560
7904  38109336    [ Farrer Park ] New City Fringe CBD Mins to MRT  281448565
7905  38110493          Cheap Master Room in Central of Singapore  243835202
7906  38112762  Amazing room with private bathroom walk to Orc...   28788520

      host_name neighbourhood_group neighbourhood  latitude  longitude  \
0     Francesca        North Region     Woodlands   1.44255  103.79580
1       Sujatha      Central Region   Bukit Timah   1.33235  103.78521
2     Francesca        North Region     Woodlands   1.44246  103.79667
3       Belinda         East Region      Tampines   1.34541  103.95712
4       Belinda         East Region      Tampines   1.34567  103.95963
...         ...                 ...           ...       ...        ...
7899     Herman      Central Region  River Valley   1.29369  103.83768
7900         Bo         West Region   Bukit Batok   1.35654  103.76028
7904      Mindy      Central Region       Kallang   1.31286  103.85996
7905      Huang      Central Region  River Valley   1.29543  103.83801
7906    Terence      Central Region  River Valley   1.29672  103.83325

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room     83             180                  1  2013-10-21
1     Private room     81              90                 18  2014-12-26
2     Private room     69               6                 20  2015-10-01
3     Private room    206               1                 14  2019-08-11
4     Private room     94               1                 22  2019-07-28
...            ...    ...             ...                ...         ...
7899  Private room     33               7                  0         NaN
7900  Private room     90               3                  0         NaN
7904  Private room     58              30                  0         NaN
7905  Private room     56              14                  0         NaN
7906  Private room     65              90                  0         NaN

      reviews_per_month  calculated_host_listings_count  availability_365
0                  0.01                               2               365
1                  0.28                               1               365
2                  0.20                               2               365
3                  0.15                               9               353
4                  0.22                               9               355
...                 ...                             ...               ...
7899                NaN                              11               359
7900                NaN                               1                83
7904                NaN                               3               173
7905                NaN                               2                30
7906                NaN                               7               365

[3381 rows x 16 columns]
Shared room
            id                                               name    host_id  \
28      719944                HDB housing in prime area near town    3648224
73     1277919                SHORT TERM ACCOMODATION AT CLEMENTI    6954638
93     1678744                Ladies-Only Shared Room @ Chinatown    8881470
94     1678754                  Private Room for 6pax @ Chinatown    8881470
95     1678755                      Mixed Shared Room @ Chinatown    8881470
...        ...                                                ...        ...
7697  37554967                    Single Bed in 6 Bed Female Dorm   87731750
7698  37576690                     Single Bed in 4 Bed Mixed Dorm   87731750
7714  37619286                   Double Pod Capsule in Mixed Dorm   87731750
7740  37757787  Cool Double Capsule Hostel with All-Day Breakfast  237146923
7764  37825175   er bedroom & common available  elias greenc ondo  180974037

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
28      Audrey      Central Region    Queenstown   1.30901  103.79639
73       Caleb      Central Region    Queenstown   1.29213  103.76913
93        Wink      Central Region        Outram   1.28425  103.84320
94        Wink      Central Region        Outram   1.28446  103.84460
95        Wink      Central Region        Outram   1.28467  103.84327
...        ...                 ...           ...       ...        ...
7697  Gap Year      Central Region       Kallang   1.31605  103.85961
7698  Gap Year      Central Region       Kallang   1.31475  103.85874
7714  Gap Year      Central Region       Kallang   1.31505  103.86022
7740   Derrick      Central Region       Kallang   1.31037  103.87328
7764     Vikar         East Region     Pasir Ris   1.37051  103.94372

        room_type  price  minimum_nights  number_of_reviews last_review  \
28    Shared room    208               1                  0         NaN
73    Shared room     50               5                 11  2018-12-01
93    Shared room     50               1                134  2019-08-11
94    Shared room    300               1                  2  2018-03-11
95    Shared room     50               1                 83  2019-08-21
...           ...    ...             ...                ...         ...
7697  Shared room     25               1                  1  2019-08-12
7698  Shared room     26               1                  1  2019-08-10
7714  Shared room     56               1                  1  2019-08-13
7740  Shared room     44               1                  0         NaN
7764  Shared room    600              30                  0         NaN

      reviews_per_month  calculated_host_listings_count  availability_365
28                  NaN                               1                 0
73                 0.27                               9               343
93                 1.91                               5               301
94                 0.04                               5               275
95                 1.22                               5               298
...                 ...                             ...               ...
7697               1.00                               8               198
7698               1.00                               8               189
7714               1.00                               8               121
7740                NaN                               2               313
7764                NaN                               1               361

[394 rows x 16 columns]

In [6]:
# 5- Find which “room_type” has most “calculated_host_listings_count”. 

grouped = df[["room_type","calculated_host_listings_count"]].groupby("room_type").agg(['max'])
print(grouped)
grouped.max()

                calculated_host_listings_count
                                           max
room_type
Entire home/apt                            274
Private room                               203
Shared room                                109

calculated_host_listings_count  max    274
dtype: int64